﻿@model IEnumerable<Data.DTO.alternateBusDTO>

@{
    ViewBag.Title = "Service Bus";
}

<h2>Recovered bus details </h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.busId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.busId != item.alternateBusId)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.busId)
                </td>
                
                <td>
                    @Html.ActionLink("Ready", "Ready", new { busId = item.busId })
                </td>
            </tr>
        }
    }

</table>
