﻿@model IEnumerable<busViewRoute>

@{
    ViewBag.Title = "Bus List";
}

<h2>BUS DETAILS</h2>
@if (Session["userName"] != null)
{
<p>
    @Html.ActionLink("Add New Bus", "createBus")
</p>
<div class="form-group error">

    @if (TempData["Message"] != null)
    {
        <label style="color:red;padding-left:12em">@TempData["Message"]</label>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.busId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.busNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route)
        </th>
        <th></th>
    </tr>
@foreach (var group in Model.GroupBy(u => u.Destination))
{
    foreach (var group1 in group.GroupBy(u => u.via))
    {
        foreach (var item in group1)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.busId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.busNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route)
        </td>
        <td>
            @Html.ActionLink("Edit", "editBus", new { busId = item.busId }) |
            @Html.ActionLink("Delete", "deleteBus", new { busId = item.busId },
                 new { onclick = "return confirm('Recommendation: Before deleting this bus, Please edit and give an alternative bus ID to the corresponding students Else the delete will be cascaded... Do you still wish to delete this bus?');" })
        </td>
    </tr>

        }
    }
}
</table>

@Html.ActionLink("Back to Dash Board", "adminpage")
}

