﻿@model Data.DTO.routeDTO

@{
    ViewBag.Title = "New Route";
}

<h2>CREATE NEW ROUTE DETAILS</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.routeId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.routeId, new { htmlAttributes = new { @class = "form-control", required = "enter route ID" } })
            @Html.ValidationMessageFor(model => model.routeId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.source, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.source, new { htmlAttributes = new { @class = "form-control", required = "enter route ID" } })
            @Html.ValidationMessageFor(model => model.source, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.destination, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.destination, new { htmlAttributes = new { @class = "form-control", required = "enter route ID" } })
            @Html.ValidationMessageFor(model => model.destination, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.plannedTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.plannedTime, new { htmlAttributes = new { @class = "form-control", required = "enter route ID" } })
            @Html.ValidationMessageFor(model => model.plannedTime, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.via, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.via, new { htmlAttributes = new { @class = "form-control", required = "enter route ID" } })
            @Html.ValidationMessageFor(model => model.via, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group error">

        @if (TempData["Message"] != null)
        {
            <label style="color:red;padding-left:12em">@TempData["Message"]</label>
        }
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "routeView")
</div>
