﻿@model IEnumerable<Data.DTO.roleDTO>

@{
    ViewBag.Title = "Role List";
}
@if (Session["userName"] != null)
{
<h2>ROLE</h2>

<p>
    @Html.ActionLink("Add New Role", "createRole")
</p>
<div class="form-group error">

    @if (TempData["Message"] != null)
    {
        <label style="color:red;padding-left:12em">@TempData["Message"]</label>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roleno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rolename)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roleno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rolename)
        </td>
        <td>
            @Html.ActionLink("Edit", "editRole", new { roleno = item.roleno }) |
           @Html.ActionLink("Delete", "deleteRole", new { roleno = item.roleno },
          new { onclick = "return confirm('Recommendation: Before deleting this role, " +
          "Please edit and give an alternative role to the corresponding users Else the delete will be cascaded..." +
          " Do you still wish to delete this role?');" })
          
          
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to Dash Board", "adminpage")
}