﻿@model IEnumerable<userDetails>

@{
    ViewBag.Title = "User List";
}

<h2>USER DETAILS</h2>
@if (Session["userName"] != null)
{
    <p>
        @Html.ActionLink("Add new User", "createUser")
    </p>
    <div class="form-group error">

        @if (TempData["Message"] != null)
        {
            <label style="color:red;padding-left:12em">@TempData["Message"]</label>
        }
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phoneNumber)
            </th>
            <th></th>
        </tr>
@foreach (var group in Model.GroupBy(u => u.role))
{
    foreach (var item in group)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "editUser", new { userId = item.userId }) |
                    @Html.ActionLink("Delete", "deleteUser", new { userId = item.userId },
                   new { onclick = "return confirm('Note: If this user is a student,then corresponding" +
                   " student details will also be deleted.Do you still wish to delete this user?')" })
                </td>
            </tr>
    }
}
    </table>
    
    @Html.ActionLink("Back to Dash Board", "adminpage")

}